# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.dSYM/

# Swift Package Manager
.swiftpm/
.build/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Secrets / signing
*.p12
*.cer
ExportOptions.plist
ExportOptions-MAS.plist
