# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Secrets / signing
*.p12
*.cer
ExportOptions.plist
